
@media screen and (max-width: 420px) {
    #lezioni,#why {
      background-color: hsl(60deg 59% 88%);
    }
    #lezioni .row>.left, #lezioni .row>.right {
      width: 100%;
     float: none;
    }
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
    float: none;
    width: 100%;
  }
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
    width: 100%;
    }
    .row{
    width: 100%;
    font-size: 25px;
    }
    .row h3{
      font-size: 37px;
    }
    .row h1{
      font-size: 57px;
    }
  }
  @media screen  and (min-width:810px) and (max-width:1024px){
   
    #lezioni,#why {
      background-color: lightblue;
  
    }
    /* In questo caso il float rimane perche abbiamo 
    abbastanza spazio per mettere le cose accanto */
    .row{
      width: 100%;
      font-size: 25px;
    }
    .row h3{
      font-size: 37px;
    }
    .row h1{
      font-size: 57px;
    }
  }